body {
    margin: 0;

    /* BEGIN (write your solution here) */
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    /* END */
}

/* BEGIN (write your solution here) */
h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 60px;
}

/* END */

h2 {
    /* BEGIN (write your solution here) */
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
    font-size: 25px;

    /* END */

    border-bottom: 2px solid #e3e3e3;
}

main {
    width: 900px;
    margin: auto;

    padding-left: 50px;
    margin-top: 50px;

}

/* BEGIN (write your solution here) */
section {
    padding-bottom: 0;
    margin-top: 50px;
    margin-left: 0;
    padding-left: 50px;
}
/* END */
